/* -- Home -- */

body{
    font-family:'Nunito Sans', sans-serif;
	font-size : 16px;
}

a {
    text-decoration: none;
    color:#000;
}

ul{
	list-style:  none;

}
nav img{
	padding:23px;
}

li a {
	display: inline-block;
	color:#8a8e91;
	text-decoration: none;
	padding :23px;
}

li a:hover{
    text-decoration: none;
    /* TODO: mirar el color correcto */
    color : #58595b;
}

a[ng-click]{
    cursor:pointer;
}

input[type="text"]{
	margin-top:15px;
    border-radius:6px;
    background-color:#5c6269;
    color:#1b2126;
    height:38px;
    /*Consultar */ 
    background-image: url(../img/Searcch_Icon.png);
    background-repeat: no-repeat;
    background-position: 8px 8px;
    padding-left :40px;
    border : none;
}

::placeholder{
    color:#1b2126;
}


nav{
	background-color:#1b2126;
	min-height: 68px;
}


aside{
	border-right: 1px solid #e9ecee;
    position:fixed;
}
aside p{
    font-weight:600;
}
.buffer{
	margin:20px;
}

.filter img{
    width:auto;
}

.filter a:last-child {
    color:red;
}

.temporal{
    margin:418px;
}

.genre-btn{
    width:115px;
    height :33px;
    border : 2px solid  #eaedef;
    color : #8e9297;;
    border-radius: 9px  ;
    margin:2px;
    background-color:#fff;

}
.genre-btn:hover{
    color:#2883d8;
    border : 2px solid  #2384d9;
}
.film-poster{
    height:403px;
    width:269px;
}
.film{
    position:relative;
    margin-bottom:27px;

}
.film:hover .selected{
    position:absolute;   
    display:block;   
    z-index: 1;
    height:403px;
    width:269px;
    background-color: rgba(27, 33, 38, 0.6);
        cursor :pointer;

        
}

.selected:hover .rating-panel{
    position:absolute;
    text-align:center;
    left:0px;
    top:362px;
    display:block;
    color:#fff;
    height:40px;
    width:100%;
    background-color:rgba(27, 33, 38, 0.82);
}
.title {
    display:none;
}

.selected:hover .title {
    display:inline-block;
    position:absolute;
    text-align:center;
    text-transform: uppercase;
    top:150px;
    color:#fff;
}

.rating-panel{   
    display:none;  

}
.element {
    display:inline-block;
    margin:10px;
}

.element p{
    display: inline-block;
}
/* -- Modal -- */

.film-data-wrapper{
    margin :0 30px;
}


.film-data{
    position :fixed;
    z-index : 1;
    left : 15%;
    width:100%;
    height:100%;
    overflow : auto;
    background-color:#fff;
}

.film-data h2 {
    margin-bottom : 10px;
}

.film-data h3 {
    font-size : 19px;
    color:#a5a8ac;
    font-weight:300;
    margin-bottom:10px;

}
.similars {
    overflow-x: scroll;
}

.genre-tag{
    display:inline-block;
    background-color : #e9ecee;
    border-radius:10px;
    padding:10px;
    margin-bottom:30px;
}


.bold-grey {
    font-weight: 700;
    color:#8e9297;

}


