  <nav>
        <div class="container">
            <div class="row">

               <img ng-click="getPopularFilms()" src="img/logo.svg" alt="logo aqui" class="col-md-2 logo">
                <ul> 
                    <li><a ng-click="getPopularFilms()" class="col-md-1 col-md-offset-1">Descubrir</a></li>
                    <li><a ng-click="getUnreleasedFilms()" class="col-md-1 col-md-offset-1">Proximamente</a ></li>
                    <li><input type="text" class="col-md-4" ng-model-options="{debounce:800}" ng-model="searchQuery" ng-change="searchFilms(searchQuery)" placeholder="Buscar..."></li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <aside class="col-md-3" ng-show="filterToggle">            
                <div>
                    <div>    
                        <p>Año</p>
                        <rzslider class="custom-slider"
                                rz-slider-model="yearSlider.min"
                                rz-slider-high="yearSlider.max"
                                rz-slider-options="yearSlider.options">
                        </rzslider>
                        <div class="buffer"></div>
                    </div>
                    <div class="buffer"></div>

                    <div>    
                        <p> Valoración </p>
                        <rzslider class="custom-slider"
                                rz-slider-model="ratingSlider.min"
                                rz-slider-high = "ratingSlider.max"
                                rz-slider-options="ratingSlider.options">                                
                         </rzslider>
                    </div>

                </div>
                <div>
                    <p>Géneros</p>
 

                    <div>
                        <button class="genre-btn" ng-click="getFilmsByFilter(yearSlider.min, yearSlider.max, ratingSlider.min,ratingSlider.max,genre.id)" ng-repeat="genre in genres">{{genre.name}}</button>
                    </div>

                </div>
                <div class="row">
                  
                    <button class="btn-primary btn-danger btn-lg center-block reset-button" ng-click="resetFilter()">Borrar Filtros</a>
                </div>
            </aside>
                    

            <!-- Main para discover -->

            <main class="col-md-9" ng-if="filterToggle == true">
                    <div class="row buffer">
                        <p class="min-buffer col-md-4">{{totalCount}} peliculas encontradas</p>
                        <div class="min-buffer dropdown dropdown-alignment">
                            <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Ordenar
                                <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a ng-click="sortByName(true,yearSlider.min,yearSlider.max,ratingSlider.min,ratingSlider.max)">Por nombre : Ascendente </li>
                                <li><a ng-click="sortByName(false,yearSlider.min,yearSlider.max,ratingSlider.min,ratingSlider.max)">Por nombre : Descendente</li>

                                <li><a ng-click="sortByReleaseDate(true,yearSlider.min,yearSlider.max,ratingSlider.min,ratingSlider.max)">Por fecha de salida : Ascendente </a></li>

                                <li><a ng-click="sortByReleaseDate(false,yearSlider.min,yearSlider.max,ratingSlider.min,ratingSlider.max)">Por fecha de salida : Descendente </a></li>                        
                                <li><a ng-click="sortByRating(true,yearSlider.min,yearSlider.max,ratingSlider.min,ratingSlider.max)">Por valoración de usuarios : Ascendente</a></li>
                                <li><a ng-click="sortByRating(false,yearSlider.min,yearSlider.max,ratingSlider.min,ratingSlider.max)">Por valoración de usuarios : Descendente    </a></li>

                             
                              </ul> 
                                        </div>
                    </div>
                        <!-- Pelicula -->

                   
                    <div class="film col-md-4"  ng-repeat="film in films">
                        <a ng-click="getMovie(film.id)">
                            <div class="selected">
                                <p class="title col-md-12"> {{film.original_title}}</p>
                                <div class="rating-panel">
                                    <div class="element">
                                        <img  src="img/Favorite.png" alt="">
                                        <p ng-if= "film.vote_average != '0'">{{film.vote_average}}</p> 
                                        <p ng-if="film.vote_average == '0'">No disponible</p>

                                    </div>
                                   
                                </div>
                             </div>
                            </a>
                        <img class="film-poster" ng-if="film.poster_path == null" src="img/generic-film.jpg" alt="">
                        <img class="film-poster" ng-if="film.poster_path != null" ng-src="{{film.regular_poster}}" src="img/generic-film.jpg" alt="img1">
                    </div>



                    <!-- Fin Pelicula -->




                    <!-- CARGAR MAS -->
                    <!-- Discover -->
                    <div ng-if="currentPage == 0 && !contentFlag && elements >= 20" class="row">
                        <div class="col-md-12" >
                            <a class="col-md-offset-6" ng-click="setPageMode(0,'',0,0,0)">Cargar más...</a>
                            <div class="buffer"></div>
                        </div>
                    </div>

                  
                
              
                    <!-- Filter by Year  / Vote -->      

                    <div ng-if=" currentPage == 5 && !contentFlag && elements >= 20" class="row">
                        <div class="col-md-12" >
                            <a class="col-md-offset-6" ng-click="setPageMode(3,'',yearSlider.min,yearSlider.max,ratingSlider.min,ratingSlider.max,0)">Cargar más...</a>
                            <div class="buffer"></div>
                        </div>
                    </div>  
                    <!--    
                    <div ng-if="currentPage == 4 && !contentFlag" class="row">
                        <div class="col-md-12" >
                            <a class="col-md-offset-6" ng-click="setPageMode(4,'',ratingSlider.min,ratingSlider.max,0)">Cargar más...</a>
                            <div class="buffer"></div>
                        </div>
                    </div>
                -->

                <!-- Filter by genre -->
<!--                     <div ng-if="currentPage == 5 && !contentFlag && elements >= 20" class="row">
                        <div class="col-md-12" >
                            <a class="col-md-offset-6" ng-click="setPageMode(5,'',yearSlider.min,yearSlider.max,ratingSlider.min,ratingSlider.max,0)">Cargar más...</a>
                            <div class="buffer"></div>
                        </div>
                    </div>
 -->                    <!-- Sorted by name asc -->

                    <div ng-if="currentPage == 6 && !contentFlag && elements >= 20" class="row">
                        <div class="col-md-12" >
                            <a class="col-md-offset-6" ng-click="setPageMode(6,'',yearSlider.min,yearSlider.max,ratingSlider.min,ratingSlider.max,0)">Cargar más...</a>
                            <div class="buffer"></div>
                        </div>
                    </div>
                                    <!-- Sorted by name dec -->

                    <div ng-if="currentPage == 7 && !contentFlag && elements >= 20" class="row">
                        <div class="col-md-12" >
                            <a class="col-md-offset-6" ng-click="setPageMode(7,'',yearSlider.min,yearSlider.max,ratingSlider.min,ratingSlider.max,0)">Cargar más...</a>
                            <div class="buffer"></div>
                        </div>
                    </div>
                                    <!-- Sorted by nrelease asc -->

                    <div ng-if="currentPage == 8 && !contentFlag && elements >= 20" class="row">
                        <div class="col-md-12" >
                            <a class="col-md-offset-6" ng-click="setPageMode(8,'',yearSlider.min,yearSlider.max,ratingSlider.min,ratingSlider.max,0)">Cargar más...</a>
                            <div class="buffer"></div>
                        </div>
                    </div>
                    <!--sorted by release desc-->
                    <div ng-if="currentPage == 9 && !contentFlag && elements >= 20" class="row">
                        <div class="col-md-12" >
                            <a class="col-md-offset-6" ng-click="setPageMode(9,'',yearSlider.min,yearSlider.max,ratingSlider.min,ratingSlider.max,0)">Cargar más...</a>
                            <div class="buffer"></div>
                        </div>
                    </div>
                    <!-- sorted by vote asc-->
                    <div ng-if="currentPage == 10 && !contentFlag && elements >= 20" class="row">
                        <div class="col-md-12" >
                            <a class="col-md-offset-6" ng-click="setPageMode(10,'',yearSlider.min,yearSlider.max,ratingSlider.min,ratingSlider.max,0)">Cargar más...</a>
                            <div class="buffer"></div>
                        </div>
                    </div>
                    <!-- sorted by vote desc-->
                    <div ng-if="currentPage == 11 && !contentFlag && elements >= 20" class="row">
                        <div class="col-md-12" >
                            <a class="col-md-offset-6" ng-click="setPageMode(11,'',yearSlider.min,yearSlider.max,ratingSlider.min,ratingSlider.max,0)">Cargar más...</a>
                            <div class="buffer"></div>
                        </div>
                    </div>


        </main>

            <!-- Main para upcoming y busqueda -->
            <main class="col-md-12" ng-if="filterToggle == false">
                    <div class="row buffer">
                        <p class="min-buffer col-md-4">{{totalCount}} peliculas encontradas</p>
  
                    </div>
                        <!-- Pelicula -->

                   
                    <div class="film col-md-3"  ng-repeat="film in films">
                        <a ng-click="getMovie(film.id)">
                            <div class="selected">
                                <p class="title col-md-12"> {{film.original_title}}</p>
                                <div class="rating-panel">
                                    <div class="element">
                                        <img  src="img/Favorite.png" alt="">
                                        <p ng-if= "film.vote_average != '0'">{{film.vote_average}}</p> 
                                        <p ng-if="film.vote_average == '0'">No disponible</p>

                                    </div>
                                   
                                </div>
                             </div>
                            </a>
                        <img class="film-poster" ng-if="film.poster_path == null" src="img/generic-film.jpg" alt="">
                        <img class="film-poster" ng-if="film.poster_path != null" ng-src="{{film.regular_poster}}" src="img/generic-film.jpg" alt="img1">
                    </div>



                    <!-- Fin Pelicula -->




                    <!-- CARGAR MAS -->

                    <!-- Upcoming -->

                    <div ng-if="currentPage == 1 && !contentFlag && elements >= 20" class="row">
                        <div class="col-md-12" >
                            <a class="col-md-offset-6" ng-click="setPageMode(1,'',0,0,0,0,0)">Cargar más...</a>
                            <div class="buffer"></div>
                        </div>
                    </div>
                
                    <!-- Search -->
                    <div ng-if="currentPage == 2 && !contentFlag && elements >= 20" class="row">
                        <div class="col-md-12" >
                            <a class="col-md-offset-6" ng-click="setPageMode(2,searchQuery,0,0,0,0,0)">Cargar más...</a>
                            <div class="buffer"></div>
                        </div>
                    </div>


        </main>






















    </div>
        <!-- Probar a poner ng-controller y usar ng-if segun convenga -->
           

    </div>
 <div ng-include="'/views/modal.html'"> </div>