  <nav>
        <div class="container">
            <div class="row">

                <img src="img/logo.svg" alt="logo aqui" class="col-md-2">
                <ul>
                    <li><a ng-click="getPopularFilms()" class="col-md-1">Descubrir</a></li>
                    <li><a ng-click="getUnreleasedFilms()" class="col-md-2">Proximamente</a ></li>
                    <li><input type="text" class="col-md-offset-4 col-md-3" ng-model-options="{debounce:500}" ng-model="searchQuery" ng-change="searchFilms(searchQuery)" placeholder="Buscar..."></li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="buffer"></div>
    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <div class="row filter">
                    <img src="img/filter.png" alt="filter-img" class="col-md-4 filter-img">
                    <a class="col-md-4">Filtrar</a>
                    <a class="col-md-4" ng-click="resetFilter()">Borrar</a>
                </div>
                
                <div>
                    <div>    
                        <p>Año</p>
                        <rzslider class="custom-slider"
                                rz-slider-model="yearSlider.min"
                                rz-slider-high="yearSlider.max"
                                rz-slider-options="yearSlider.options">
                        </rzslider>
                        <div class="buffer"></div>
                    </div>
                    <div class="buffer"></div>

                    <div>    
                        <p> Valoración </p>
                        <rzslider class="custom-slider"
                                rz-slider-model="ratingSlider.min"
                                rz-slider-high = "ratingSlider.max"
                                rz-slider-options="ratingSlider.options">                                
                         </rzslider>
                    </div>
                    <div class="buffer"></div>

                    

                </div>
                <div class="buffer"></div>
                <div>
                    <p>Géneros</p>

                    <div>
                        <button class="genre-btn" ng-click="getFilmsByGenreId(genre.id)" ng-repeat="genre in genres">{{genre.name}}</button>
                    </div>

                </div>
            </aside>
                    


            <main class="col-md-9">
                    <div class="row filter">
                        <p class="col-md-4">{{totalCount}} peliculas encontradas</p>
                        <p class="col-md-2 col-md-offset-6">Ordenar<span class="caret"></span></p>
                    </div>
                        <!-- Pelicula -->

                   
                    <div class="film col-md-4" ng-repeat="film in films">
                        <a ng-click="getMovie(film.id)">
                            <div class="selected">
                                <p class="title col-md-12"> {{film.title}}</p>
                                <div class="rating-panel">
                                    <div class="element">
                                        <img  src="img/Favorite.png" alt="">
                                        <p ng-if= "film.vote_average != '0'">{{film.vote_average}}</p> 
                                        <p ng-if="film.vote_average == '0'">No disponible</p>

                                    </div>
                                   
                                </div>
                             </div>
                            </a>
                        <img class="film-poster" ng-if="film.poster_path == null" src="img/generic-film.jpg" alt="">
                        <img class="film-poster" ng-if="film.poster_path != null" ng-src="{{film.regular_poster}}" src="img/generic-film.jpg" alt="img1">
                    </div>

                    <!-- Fin Pelicula -->
                    <div ng-if="query == ''" class="row">
                        <div class="col-md-12" >
                            <a class="col-md-offset-6" ng-click="getNextFilmPage()">Cargar más...</a>
                            <div class="buffer"></div>
                        </div>
                    </div>

                    <div ng-if="query != ''" class="row">
                        <div class="col-md-12" >
                            <a class="col-md-offset-6" ng-click="getNextFilmPage(query)">Cargar más...</a>
                            <div class="buffer"></div>
                        </div>
                    </div>


        </main>


    </div>
            <div ng-include="'/views/modal.html'"> </div>

    </div>
