<div class="modal-layout" ng-show="modalFlag"> 
    <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="film-data">
                    <div class="film-data-wrapper">
                        <div class="movie-header">
                            <h2 class= "col-md-6 vcenter">{{movie.title}} <span class="gray-text">{{movie.year}}</span></h2>
                            <img class=" col-md-offset-5 vcenter close-button" ng-click="toggleModalFlag()"  src="img/Close.png" alt="">
                             <hr>

                        </div>  
                       
                        <div class="row">
                            <img  id="poster" class="col-md-5" ng-src="{{movie.full_poster}}" ng-if="movie.poster_path != null" alt="" >
                            <img  id="poster" class="col-md-5" ng-if ="movie.poster_path == null" src="img/generic-film.jpg" alt="">
                            
                            <div class="col-md-7 movie-container">
                                <div class="movie-info">
                                        <div class="row">   
                                            <h2 class="col-md-1">Sinopsis</h2>
                                            <h2 class="col-md-offset-10 gray-text" ng-if="movie.duration != '0h 00m'">{{movie.duration}}</h2>
                                            <div class="col-md-5 genre-container">
                                                <div class="genre-tag text-left" ng-repeat="genre in movie.genres">{{genre.name}}</div>
                                            </div>
                                            <div class="col-md-offset-9 rating-alignment " ng-if="movie.ratings.length == 3">
                                                <img src="img/Favorite.png" alt=""> {{movie.ratings[0]}}
                                                <img src="img/rottentomatoes.png" alt=""> {{movie.ratings[1]}}
                                                <img src="img/popcorn.png" alt=""> {{movie.ratings[2]}} %
                                            </div>
                                                                         
                                            <div class="col-md-12" ng-if="movie.overview.length > 0">
                                                <p>{{movie.overview}}</p>
                                            </div>
                                        </div>
                                </div>                                           
                                <div class="player col-md-12">
                                    <h2>Trailer</h2>  
                                    <iframe class= "" ng-src="{{movie.trailer}}" width=600 height=342></iframe>
                                </div>
                               
                            </div>
                        </div>        
                    <hr>
                    <div class="similar">
                    <div class="col-md-9 ">Películas similares</div>
                    <div class="row" ng-if="movie.similars.length > 0 ">
                        <div class="col-md-12">                        
                            <div class="col-md-3 similar-buffer" ng-repeat="similar in movie.similars |limitTo:4">
                                <a ng-click="getMovie(similar.id)"><img class="center-block" ng-src="{{similar.url}}" > </a>
                                <p class="col-md-12 text-center">{{similar.title}}</p>
                            </div>
                        </div>
                    </div>

                        <div class="row" ng-if="movie.similars.length == 0 ">
                        <div class="empty-buffer">                        
                            <p class="col-md-12">  No disponemos actualmente  esa información, vuelve más adelante!</p>
                        </div>
                    </div>

                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
