


    <div class="modal">
        

    <!-- Actualizar convenientemente en función de angular-->
    <div class="modal-wrapper">
        <div class="row">
            <h2 class="col-md-2">Interstellar</h1>
            <h3 class="col-md-2"> 2014</h2>
            <img class="col-md-offset-5" src="img/Close.png" alt="">
            <hr>
        </div>
        
        <div class="row">
            <img src="img/Cover.png" alt="" class="col-md-5">
            <div class="col-md-6">
                    <h2 class="col-md-1">Sinopsis</h2>
                    <h2 class="col-md-offset-7">2h 15m</h3>
                <div class="row">
                    <div class="col-md-4">
                       <div class="genre-tag">Aventura</div>
                       <div class="genre-tag">Sci-Fi</div>                        
                    </div>
                    <div class="col-md-offset-8">
                        <img src="img/Favorite.png" alt=""> 8.4
                        <img src="img/rottentomatoes.png" alt="">77%
                        <img src="img/popcorn.png" alt="">77%
                    </div>
                </div>
                <div class="row">
                    <p>With our time on Earth coming to an end, a team of explorers undertakes the most important mission in human history; traveling beyond this galaxy to discover whether mankind has a future among the stars. (C) Paramount</p>
                </div>
                
                <div class="row">
                    <h2>Trailer</h2>                    
                </div>
                <div class="row">
                    <img src="img/trailer.png" alt="">
                </div>
            </div>
        </div>
        
            <p> <span class="bold-grey">Subs :</span> en es de </p>
        <hr>
        
            <p>Películas similares</p>
        </div>       
            <div class="col-md-3">
                <img src="img/similares.png" alt="">
                <p class="text-center">Inception</p>
            </div>
            <div class="col-md-3">
                <img src="img/similares.png" alt="">
                <p class="text-center">Inception</p>
            </div>
            <div class="col-md-3">
                <img src="img/similares.png" alt="">
                <p class="text-center">Inception</p>
            </div>                        
            <div class="col-md-3">
                <img src="img/similares.png" alt="">
                <p class="text-center">Inception</p>s
            </div>            
        </div>
        
        
    </div>